<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <main>
        <section>
            <h1>About Me</h1>
            <p>Hi, I'm Jordan Wong, a recent Computer Science graduate from UC Davis. I have a passion for technology and a keen interest in software development.</p>
        </section>
        <table>
            <tbody>
                <tr>
                    <td style="border-left:8px solid #C0B283;padding:0 0 0 30px;">
                        <p><span style="color:#C0B283;font-weight:bold;">EDUCATION</span></p>
                        <ul>
                            <li>
                                <p><b>University of California - Davis</b><br>
                                    Bachelor's of Arts and Science, <a href="https://cs.ucdavis.edu/" target="_blank">Computer Science</a>, <a href="https://arts.ucdavis.edu/cinema-digital-media" target="_blank">Cinema & Digital Media</a><br>
                                    <i>Sept. 2021 - Dec. 2024</i><br>
                                        <ul>
                                            <li>Provide technical support to 900+ faculty, staff, and students across the College of Letters and Science at UC Davis through ServiceNow.</li>
                                            <li>Resolve technical issues related to hardware, software, and network connectivity.</li>
                                            <li>Assist with the setup and maintenance of computer systems, printers, and other IT equipment through Microsoft Active Directory.</li>
                                        </ul>
                                </p>
                            </li>
                            
                        </ul>
                    </td>
                </tr>
                
                <tr>
                    <td style="border-left:8px solid #C0B283;padding:0 0 0 30px;">
                        <p><span style="color:#C0B283;font-weight:bold;">EXPERIENCE</span></p>
                        <ul>
                            <li>
                                <img decoding="async" src="/img/aggie-logo-white.png" width="125" height="87" style="float:right;padding:20px 0 20px 20px;">
                                <p><b>IT Help Desk Analyst</b><br>
                                    <a href="https://lsit.ucdavis.edu/" target="_blank">UC Davis Letters And Science IT Department.</a><br>
                                    <i>Sept. 2022 - Dec. 2024</i><br>
                                        <ul>
                                            <li>Provide technical support to 900+ faculty, staff, and students across the College of Letters and Science at UC Davis through ServiceNow.</li>
                                            <li>Resolve technical issues related to hardware, software, and network connectivity.</li>
                                            <li>Assist with the setup and maintenance of computer systems, printers, and other IT equipment through Microsoft Active Directory.</li>
                                        </ul>
                                </p>
                            </li>

                            <li>
                                <p><b>Student Teaching Assistant</b><br>
                                    <a href="https://bme.ucdavis.edu/" target="_blank">UC Davis Biomedical Engineering Department.</a><br>
                                    <i>Apr. 2022 - Jun. 2024</i><br>
                                        <ul>
                                            <li>Managed Google Firebase containing data of 100+ students quarterly for BIM088V, assisting with user authentication and 
                                                cloud management.</li>
                                            <li>Assisted the implementation of Python code of auto-grading students based on due dates and completion, done through 
                                                Firebase data and Canvas student information.</li>
                                            <li>Wrote scene transitions between game levels in C# Unity Game Engine, reducing loading times through decoupling and 
                                                pushing with version control on Git.</li>
                                        </ul>
                                </p>
                            </li>
                        </ul>
                    </td>
                </tr>

            </tbody>
        </table>
        <section>
            <h2>Education</h2>
            <ul style="list-style-type: none; padding: 0">
            <strong>University of California - Davis</strong> 
            <li style="text-indent: 2em; font-style: italic;">
                Bachelor of Arts & Science in <a href="https://cs.ucdavis.edu/" target="_blank">Computer Science</a>, 
                <a href="https://arts.ucdavis.edu/cinema-digital-media" target="_blank">Cinema & Digital Media</a>
            </li>


            </ul>
        </section>
        <section>
            <h2>Experience</h2>
            <ul style="list-style-type: none; padding: 0;">
            <li><strong>[Job Title]:</strong> [Company Name] ([Start Year] - [End Year])</li>
            <li><strong>[Job Title]:</strong> [Company Name] ([Start Year] - [End Year])</li>
            </ul>
        </section>
        <section>
            <h2>Projects</h2>
            <ul style="list-style-type: none; padding: 0; line-height: 1.2;">
            <li>
            <h3><strong>Project 1:</strong><br></h3>
            [Brief description of project 1]
            </li>
            <li>
            <strong>Project 2:</strong><br>
            [Brief description of project 2]
            </li>
            <li>
            <strong>Project 3:</strong><br>
            [Brief description of project 3]
            </li>
            </ul>
        </section>
        <section>
            <h2>Skills</h2>
            <ul style="list-style-type: none; padding: 0;">
            <li>[Skill 1]</li>
            <li>[Skill 2]</li>
            <li>[Skill 3]</li>
            <li>[Skill 4]</li>
            </ul>
        </section>

        <section>
            <h2>Contact</h2>
            <p>If you'd like to get in touch, feel free to reach out via email at <a href="mailto:jordanhwong1@gmail.com">[jordanhwong1@gmail.com]</a>.</p>
        </section>
        <section>
            <h2>Resume</h2>
            <p>You can view or download my resume by clicking the link below:</p>
            <iframe src="img/resume.pdf" style="width: 100%; height: 600px; border: none;"></iframe>
        </section>
    </main>
</body>
</html>