<h2 class="front-heading" style="text-align: center;">The Walking Talking Stick</h2>
<h3 class="front-subheading" style="text-align: center;">A blog about my life, work, and projects.</h3>
<p>
    I am Jordan Wong, a recent graduate from UC Davis. On this site you can find infrequent blog posts talking about my different escapades.
    As much as I used this site as a learning experience, this blog also serves as an outlet for my own progress and thoughts.
    If you are interested in my portfolio, feel free to check out my about page, which holds my cirriculum vitae and a list of my projects.
</p>

<!-- <img src="/img/transparent-ssaketh.png" alt="me" class="front-image" width="410" height="409" style="width: 100%; height: auto" > -->

<section class="articles">
    <!-- <h2 class="articles__heading">Latest Posts</h2> -->

    <ul class="article-ul">

        <% data.forEach(post => { %>
            <li>
                <a href="/post/<%= post._id %>">
                    <span><%= post.title %></span>
                    <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
                </a>
            </li>
        <% }) %>
    </ul>

    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>

</section>